Flask==2.0.1               # Web framework for building the application
Flask-JWT-Extended==4.4.4  # Library for handling JWT authentication
Flask-CORS==3.0.10         # Library for enabling Cross-Origin Resource Sharing